In [41]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
from word2number import w2n
import math

In [42]:
df = pd.read_csv(r"C:\Users\LENOVO\Desktop\hiring.csv")
df.head(15)

  experience  test_score(out of 10)  interview_score(out of 10)  salary
0        NaN                    8.0                           9   50000
1        NaN                    8.0                           6   45000
2       five                    6.0                           7   60000
3        two                   10.0                          10   65000
4      seven                    9.0                           6   70000
5      three                    7.0                          10   62000
6        ten                    NaN                           7   72000
7     eleven                    7.0                           8   80000

In [43]:
df.experience= df.experience.fillna("zero")
df.experience = df.experience.apply(w2n.word_to_num)
test_mean = int(df['test_score(out of 10)'].mean())
df['test_score(out of 10)'] = df['test_score(out of 10)'].fillna(test_mean)
df.head(20)
new_df = df.drop('salary',axis='columns')
salary = df.salary
reg = linear_model.LinearRegression()
reg.fit(new_df,salary)
print(reg.predict([[2,9,6]]))

[53713.86677124]